<template>
    <section class="application">
        <top-level-left class="menu" />
        <top-level-right class="page" :title="title" :version="version"/>
    </section>   
</template>

<script setup>
import { defineComponent, ref, inject, computed, watch } from 'vue';
import { defineStore } from 'pinia';
import { OrbitComponentMixin } from '@/../node_modules/orbit-component-base';
import { useComponentsStore } from '@/stores/componentsStore.js';
import TopLevelLeft from './widgets/TopLevelLeft.vue'
import TopLevelRight from './widgets/TopLevelRight.vue'
import pkg from '../package.json';

const plugin          = inject('$orbitPlugin')
const connection      = inject('$connection')
const socket          = ref({connected:false})
const vcheck_active   = computed(() => socket.value.connected)
const orbit_active    = computed(() => connection.authenticated)
const title           = computed(() => opt.title)
const version         = computed(() => opt.version)
const componentsStore = useComponentsStore()
const vc              = opt.versioncheck

const bootstrap = () => {
    const components = app._context.components
    Object.keys(components).forEach(key => {
        const component = components[key]
        if (component.bootstrap) component.bootstrap()
    })
    if (vc && vcheck_active.value && orbit_active.value) {
        // need to pass shell sid with get_version call because all calls
        // go over vcheck socket!
        componentsStore.update_component (socket, components, namespace)
        // setTimeout(() => {
        //     componentsStore.update(socket)
        // }, 10)
    }
}

watch (orbit_active,  (n,o) => {if (vc && n && !o) bootstrap()})
watch (vcheck_active, (n,o) => {if (vc && n && !o) bootstrap()})

if (vc) {
    console.log('[versioncheck active]', vc)
    plugin ('vcheck', vc.namespace, socket, vc.host)
} else {
    console.log('[versioncheck disabled]')
    bootstrap()
}

</script>

<script>
const namespace = 'shell'
const mixin = OrbitComponentMixin(namespace, defineStore)
const opt = ref(null)
const app = ref(null)

export default defineComponent({
    name: namespace,
    install   (vue, options) {mixin.install (vue, options, this, app, opt)},
    bootstrap () { return mixin.bootstrap (pkg.version) },
})
</script>


<style scoped>
.application {
    height: 100%;
    display: flex;
}
.menu {
    flex:0;
}
.page {
    flex:1;
}
</style>
