*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html, body, #app {
  height:100%;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-thumb {
  background-color: #80d4ff;
  border-radius: 10px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px #cceeff;
  border-radius: 10px;
  border: 2px solid #fff;
  opacity: 0.5;
}
::-webkit-scrollbar {
  background: #cceeff;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  cursor: crosshair!important;
}
