<template>
    <div :class="buttonClass" :style="buttonStyle" v-if="icon" >
        <n-icon-wrapper :size="size" color="transparent">
            <n-icon :size="size" :component="icon" :color="disabled ? '#999' : color"/>
        </n-icon-wrapper>
        <div class="square-text">{{  text  }}</div>
    </div>
    <div v-else class="spacer"></div>
</template>

<script>
import { defineComponent } from 'vue';
import { NIcon, NIconWrapper } from 'naive-ui';

export default defineComponent({
    components: {NIcon, NIconWrapper},
    props: {
        active: Boolean,
        bordered: {
            type: Boolean,
            default: false
        },
        icon: Object,
        text: String,
        help: String,
        type: String,
        color: {
            type: String,
            default: '#1c7e8f'
        },
        size: {
            type: Number,
            default: 42
        },
        width: {
            type: String,
            default: '100%'
        },
        height: {
            type: String,
            default: '74px'
        },
        content: String,
        disabled: Boolean,
        hidden: Boolean
    },
    computed: {
        buttonClass () { 
            return (this.disabled ? (this.hidden ? 'hide-button ' : 'disabled-button ') : 'square-button ') + (this.active ? 'active' : '') + (this.bordered ? 'bordered' : '')
        },
        buttonStyle () { return `width:${this.width};height:${this.height}`}
    }
})
</script>

<style scoped>
.dummy {
    color: #1c7e8f;
}
.square-button {
    margin-top: 4px;
    margin-top: 4px;
    text-align: center;
    color: white;
    flex-direction:column;
    padding-top: 7px;
    border-radius:8px;
    border:1px solid transparent;
}
.hide-button {
    display: none;
}
.disabled-button {
    margin-top: 4px;
    margin-top: 4px;
    text-align: center;
    flex-direction:column;
    padding-top: 7px;
    border-radius:8px;
    border:1px solid transparent;
}
.disabled-button .square-text {
    font-size: 0.85rem;
    position:relative;
    text-align:center;
    top: -8px;
    color: #999;
    font-weight: 500;
    user-select: none;
}

.square-button:hover {
    background-color: #ccc;
    border:1px solid #999;
}
.square-button.active {
    background-color: #b3daff;
    border:1px solid #a7c2f8;
}
.square-button.bordered {
    background-color: #e0f5cc;
    border:1px solid #a7c2f8;
}
.square-button:active {
    box-shadow: 0px 2px #333;
    opacity: 0.5;
    transform: translateY(1px);
}
.square-text {
    font-size: 0.85rem;
    position:relative;
    text-align:center;
    top: -8px;
    color: #666;
    font-weight: 500;
    user-select: none;
}
.spacer {
    flex:1;
}
</style>
