<template>
    <section class="rhs">
        <div class="header">
            <span class="title">
                <span v-if="active">{{ title }}</span>&nbsp;
            </span>
            <span class="version">{{ version }}</span>
        </div>
        <router-view v-slot="{ Component }">
            <keep-alive>
                <component :is="Component" :key="$route.fullPath"/>
            </keep-alive>
        </router-view>
    </section>
</template>

<script>
import { RouterView } from 'vue-router';

export default {
    components: {RouterView},
    props: ['title', 'version'],
    data () {
        return {
            active: false
        }
    },
    mounted () {
        // console.log("Version>", this.version)
        setTimeout(() => {
            this.active = true
        },100)
    },
}
</script>

<style scoped>
.rhs {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex:1;
    background-color: #eee;
    overflow: hidden;
}
.rhs div.header {
    flex:0;
    min-height: 52px;
    line-height: 56px;
}
.rhs div.header span.title {
    font-size: 2.5em;
    font-weight: 400;
    font-family: "League Gothic", sans-serif;
    color: #3b6497;
}
.rhs div.header span.version {
    color: cadetblue;
    font-size: 1.1em;
    font-weight: 600;
}</style>