<template>
    <section class="lhs" v-if="usersStore">
        <div class="logo">
            <img :width="42" style="margin-right:4px" src="@/assets/orbit-logo.png"/>
        </div>
        <menu-button v-for="item in menu"
            :active="isSelected(item)"
            :icon="item.icon"
            :class="`${isSelected(item)}`"
            :text="item.text"
            :key="item.name"
            :disabled="isDisabled(item)"
            :hidden="isHidden(item)"
            @click="onMenuItemClick(item)"
            />
    </section>
</template>

<script>
import { defineComponent } from 'vue';
import { defineStore } from 'pinia';
import MenuButton from './MenuButton.vue';

export default defineComponent({
    inject: ['$menu', '$connection'],
    computed: {
        menu () {
            let menu = [...this.$menu]
            menu.sort((a, b) => {
                if (a.pri==b.pri) return 0;
                return a.pri > b.pri ? 1 : -1
            });
            return menu
        },
        authenticated () { return this.$connection.authenticated }
    },
    components: { MenuButton },
    watch: {
        authenticated: {
            handler (newState, oldState) {
                if (newState && !oldState) {
                    this.usersStore = defineStore('usersStore')()
                    this.permissionsStore = defineStore('permissionsStore')()
                }
            }, immediate: true
        }
    },
    methods: {
        isSelected (item) {
            return item && (item.name == this.$route.name)
        },
        isHidden (item) {
            return item.meta && item.meta.disabled == 'hide'
        },
        isDisabled (item) {
            if (!this.usersStore) return true
            if (!item.meta||!item.meta.exec) return false
            const namespace = item.path.substring(1)
            return !this.usersStore.checkAccess(namespace, this.$connection.hostid, item.meta.endp, item.meta.exec)
        },
        onMenuItemClick (item) {
            if (item.name != '-' && !this.isDisabled(item)) this.$router.replace({'name': item.name})
        }
    },
    data () {
        return {
            usersStore: null,
            permissionsStore: null
        }
    }
})
</script>

<style scoped>
.lhs {
    background-color: #eee;
    height: 100%;
    width: 86px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
}
.logo {
    text-align: center;
    padding-top: 10px;
    padding-left: 0px;
    margin-bottom: 2px;
    width: 85px;
    height: 56px;
}
</style>
